Repository abengl/DEV015-dataverse-chat, pull requests merged in 2024-08, with the labels that each got.

#63 Chore: estructuras de la vista chat group y notfound
  src/views/ChatGroup.js
  src/views/NotFound.js
  src/views/notFound.css
Labels: html

#64 feature: add technology list in chatGroup HTML/CSS and display:none f…
  src/styles.css
  src/views/ChatGroup.js
  src/views/chatGroup.css
Labels: css, html

#65 chore: Update chatGroup.css to hide panel button in chat__group
  src/views/chatGroup.css
Labels: css

#68 style: chat individual adjustements
  src/assets/icons/arrow-left.svg
  src/assets/icons/arrow-send.svg
  src/components/ChatIndividual.js
  src/components/chatIndividual.css
  src/components/nav.css
  src/index.html
  src/styles.css
  src/views/ApiKey.js
  src/views/Chat.js
  src/views/Home.js
  src/views/chat.css
Labels: css

#69 Feature/chatgroup
  src/assets/images/dog.jpeg
  src/styles.css
  src/views/ChatGroup.js
  src/views/NotFound.js
  src/views/chatGroup.css
  src/views/notFound.css
Labels: css, js

#72 feat: Add Google Fonts stylesheet for Material Symbols Outlined font
  src/views/ChatGroup.js
  src/views/chatGroup.css
Labels: css

#73 feat: Add Google Fonts stylesheet for Material Symbols Outlined font
  src/views/ChatGroup.js
  src/views/chatGroup.css
Labels: css

#76 testing
  src/router.js
  test/router.spec.js
Labels: test

#77 fix: openAI test
  .eslintrc
  test/openAIApi.spec.js
Labels: jest

#78 feature: adding tests with mocks
  test/apiKey.spec.js
Labels: jest

#79 feat:readme
  README.md
  src/assets/images/apikey.png
  src/assets/images/chat.png
Labels: documentation

#81 chore: update grid-template-columns in chat.css to use 1fr instead of 60%
  src/views/chat.css
Labels: css

#80 Readme: completed aspects of readme
  README.md
  src/assets/images/Desktop-Chat.png
  src/assets/images/Desktop-Home.png
  src/assets/images/Mobile-Panel.png
  src/assets/images/Mobile-apikey.png
  src/assets/images/apikey.png
  src/assets/images/chat.png
  src/assets/images/doggi.gif
Labels: documentation

#82 updates: unit tests and responsive style
  .eslintrc
  README.md
  src/assets/images/Desktop-Chat.png
  src/assets/images/Desktop-Home.png
  src/assets/images/Mobile-Panel.png
  src/assets/images/Mobile-apikey.png
  src/assets/images/doggi.gif
  src/router.js
  src/views/chat.css
  test/apiKey.spec.js
  test/openAIApi.spec.js
  test/router.spec.js
Labels: css, jest

#83 fix: error in reload on deployed web
  src/index.js
  src/router.js
  src/vercel.json
Labels: deploy
