Repository abengl/DEV015-dataverse-chat, pull requests merged in 2024-07, with the labels that each got.

#25 build: html structure linked to #ca1-hu2
  src/index.html
Labels: html

#26 build: creation of home, chats, apikey views with demo function
  src/views/ApiKey.js
  src/views/ChatGrupal.js
  src/views/ChatIndividual.js
  src/views/ErrorRutas.js
  src/views/Example.js
  src/views/Home.js
Labels: js

#29 Dt1 testing router
  package-lock.json
  package.json
  src/index.js
  src/router.js
  src/views/ApiKey.js
  src/views/ChatGrupal.js
  src/views/ErrorRutas.js
  src/views/Home.js
  test/data.js
  test/dataFunctions.spec.js
  test/router.spec.js
Labels: test

#31 Testing router mock
  src/router.js
  test/router.spec.js
Labels: test

#32 test: unit test renderView #13
  test/router.spec.js
Labels: test

#34 update: dataFunctions #15
  src/lib/dataFunctions.js
Labels: js

#35 update: style.css #18
  src/style.css
Labels: css

#36 update: test files data.js and dataFunctions.specs.js #16
  test/data.js
  test/dataFunctions.spec.js
Labels: test

#37 feature: header component #17
  src/components/Footer.js
  src/components/Header.js
  src/components/Nav.js
  src/index.html
  src/index.js
  src/router.js
  src/views/Home.js
Labels: html, js

#38 feature: components footer, main.js and functions #17
  src/components/Cards.js
  src/components/Footer.js
  src/data/dataset.js
  src/views/Home.js
Labels: js

#39 fix: home view and add render metrics component
  src/components/Cards.js
  src/index.html
  src/views/Home.js
Labels: html, js

#40 styles: import header and footer styles in home.css and chatGrupal.css
  src/components/cards.css
  src/components/footer.css
  src/components/header.css
  src/index.html
  src/style.css
  src/styles/style.css
  src/styles/variables.css
  src/views/ChatGrupal.js
  src/views/chatGrupal.css
  src/views/home.css
Labels: css, html

#41 Styles css view
  src/components/Header.js
  src/components/Nav.js
  src/components/header.css
  src/components/nav.css
  src/index.html
  src/styles/style.css
Labels: css

#43 Design
  src/components/Footer.js
  src/components/Header.js
  src/components/footer.css
  src/components/header.css
  src/components/nav.css
  src/styles/style.css
  src/views/Home.js
Labels: css

#44 Chat individual: correcciones de estilos de las cards en home
  src/assets/icons/chat.svg
  src/components/Cards.js
  src/components/cards.css
  src/components/header.css
  src/data/dataset.js
  src/styles/variables.css
  src/views/Home.js
Labels: css

#45 Chat individual: ajustes de estilos
  src/components/Cards.js
  src/components/Footer.js
  src/components/Header.js
  src/components/Nav.js
  src/components/footer.css
  src/components/header.css
  src/components/nav.css
  src/data/dataset.js
  src/lib/styleUtils.js
  src/styles/chatGrupal.css
  src/styles/chatIndividual.css
  src/styles/home.css
  src/views/ApiKey.js
  src/views/ChatGrupal.js
  src/views/ChatIndividual.js
  src/views/ErrorRutas.js
  src/views/Home.js
  src/views/chatGrupal.css
Labels: css, js

#53 fix: flujo css #52
  src/styles/chatGrupal.css
  src/styles/chatIndividual.css
  src/styles/home.css
  src/styles/style.css
  src/styles/variables.css
  src/views/ChatGrupal.js
  src/views/ChatIndividual.js
Labels: css

#55 feature: view apikey and styles #47
  src/styles/apiKey.css
  src/styles/style.css
  src/views/ApiKey.js
Labels: css, js

#56 setup: files for apiKey functions and tests
  src/lib/apiKey.js
  src/views/ApiKey.js
  test/apiKey.spec.js
Labels: js, jest

#57 feature: apikey functions and styles
  src/lib/apiKey.js
  src/lib/styleUtils.js
  src/lib/viewUtils.js
  src/styles/apiKey.css
  src/styles/style.css
  src/views/ApiKey.js
  src/views/ChatGrupal.js
  src/views/ChatIndividual.js
  src/views/ErrorRutas.js
  src/views/Home.js
Labels: css, js

#59 fix: root rendering and logic of the project
  src/components/Cards.js
  src/components/ChatIndividual.js
  src/components/Footer.js
  src/components/Header.js
  src/components/Nav.js
  src/components/chat.css
  src/components/chatIndividual.css
  src/components/footer.css
  src/components/header.css
  src/components/nav.css
  src/index.html
  src/index.js
  src/lib/apiKey.js
  src/lib/styleUtils.js
  src/lib/viewUtils.js
  src/router.js
  src/styles.css
  src/styles/apiKey.css
  src/styles/chatGrupal.css
  src/views/ApiKey.js
  src/views/Chat.js
  src/views/ChatGroup.js
  src/views/ChatGrupal.js
  src/views/ErrorRutas.js
  src/views/Home.js
  src/views/NotFound.js
  src/views/apiKey.css
  src/views/chat.css
  src/views/chatGroup.css
  src/views/home.css
  test/apiKey.spec.js
  test/router.spec.js
Labels: js, jest

#60 setup: openAIApi file
  package-lock.json
  package.json
  src/components/ChatIndividual.js
  src/lib/openAIApi.js
Labels: js
